body, html{
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-image: url("fundo.jpg");
}

.menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.imagem{
  background-image: url("menu_fundo.jpg");
}

.cabecalho{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.titulo{
  font-family: 'Fredericka the Great', cursive;
  color: #740001;
}

.imagem .titulo{
  font-size: 9vh;
}

.lateral .titulo{
  font-size: 1.5em;
}

.subtitulo{
  color: #740001;
  font-size: 4vh;
}

.barra{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  background-color: #816005;
}

.link{
  padding: 1em 0em 1em 0em;
}

.link a{
  color: #740001;
  text-decoration: none;
  font-family: 'Gloria Hallelujah', cursive;  
}

.corpo{
  margin: 0.1em;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.lateral{
  margin: 0px;
  max-width: 25%;
  height: 100%;
  background-color: #c09213;
  text-align: center;
}

.card-lateral{
  border-top-style: groove;
  border-top-width: 0.1em;
  padding: 0.6em;
  text-align: start;
}

.card-lateral .link a{
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.card-lateral .subtitulo span{
  font-family: 'Lemonada', cursive;
  font-size: 40%;
}

.principal{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding-left: 4%;
  padding-top: 1%;
}

.card-principal{
  display: flex;
  flex-direction: row;
  margin: 0.8%;
  background-color: #c09213;
  min-height: 30%;
  max-height: 1%;
}

.parte-texto{
  text-align: justify;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 66%;
}

.parte-texto .titulo{
  padding-top: 0.2em;
  font-size: 1.5em;
  margin: 0.3em;
}

.parte-texto .subtitulo{
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.3em;
  padding:0em 0.4em 0em 0.4em;
  font-family: 'Gloria Hallelujah', cursive;  
}

.texto-card{
  font-family: 'Lemonada', cursive;
  font-size: 0.7em;
  color: #740001;
  padding:0em 0.4em 0em 0.4em;
}

.lateral span{
  font-size: 1.5em;
  color: #740001;
  font-family: 'Fredericka the Great', cursive;  
}

.card-lateral span{
  font-size: 1em;
}

a:hover{
  color:white;
}